# Banco de Dados
DATABASE_URL=postgresql://vendcar:vendcar123@localhost:5433/db_vendas

# URL do Serviço Principal (comunicação HTTP)
CATALOGO_API_URL=http://localhost:3000

# Porta do serviço
PORT=3001

# Intervalo do Worker SAGA (cron)
CRON_INTERVAL=*/10 * * * * *
